{%- if settings.minimum_freeshipping != 0 -%}
  <div class="my-3 lg:my-6" id="cart-drawer-free-shipping">
    {%- assign total = cart.total_price | money_without_currency | replace: ',', '' | minus: 0.00 -%}

    <div class="flex items-center flex-wrap justify-center lg:justify-between js-shipping-bar">
      {% if settings.country == "FR" or settings.country == "DE" %}
        {%- assign minimun_freeshipping = settings.minimum_freeshipping | times: 100 | money_without_currency | replace: ',', '' | minus: 0.00 -%}
      {% else %}
        {%- assign minimun_freeshipping = settings.minimum_freeshipping | plus: 0.00 -%}
      {% endif %}
      {% assign percent = total | divided_by: minimun_freeshipping | times: 100 %}

      {%- if minimun_freeshipping > total -%}
        {% if settings.country == "FR" or settings.country == "DE" %}
          {%- assign lack = minimun_freeshipping | minus: total | money_without_trailing_zeros -%}
        {% else %}
          {%- assign lack = minimun_freeshipping | minus: total | times: 100 | money_without_trailing_zeros -%}
        {% endif %}

        <span class="block w-full font-light text-sm leading-5 text-primary mb-2">{{ 'sections.cart.not_freeship_html' | t: lack: lack }}</span>
        <div class="block w-full freeshipping-bar h-1 rounded-xl bg-primary relative">
          <div class="processing-bar absolute top-0 left-0 bg-success h-1 rounded-xl !block" style="{% if percent >= 100 %}width: 100%{% else %}width: {{ percent }}%{% endif %}"></div>
          <span class="block shadow-megamenu text-xs leading-none font-heading text-sale py-1 px-2 rounded font-bold bg-background absolute top-1/2 -translate-x-1/2 -translate-y-1/2 z-10" style="{% if percent >= 100 %}left: 100%{% else %}left: {{ percent | round }}%{% endif %}">
            {% if percent >= 100 %}100%
            {% else %}
              {{ percent | round }}%{% endif %}
          </span>
        </div>
      {%- else -%}
        <div class="items-center gap-1.5 w-full font-light text-sm leading-5 text-primary">{% render 'icon-free-shipping', class: 'w-5 h-5 !inline' %} {{ 'sections.cart.freeship_html' | t }}</div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}