<slider-component class="gallery block">
  <div class="relative overflow-hidden order-1 lg:order-2 w-full h-fit">
    <ul class="flex slider-wrapper slider-on-mobile slider-on-tablet lg:flex-col">
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        <li class="slider-slide !h-fit w-full active lg:border-b lg:border-primary">
          {%- assign media_position = 1 -%}
          {% render 'product-thumbnail', media: featured_media, lazy_load: false %}
        </li>
      {%- endif -%}
      {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
        {% if featured_media == null and forloop.first %}
          {% assign lazy_load = false %}
        {% else %}
          {% assign lazy_load = true %}
        {% endif %}
          <li class="slider-slide !h-fit w-full{% if featured_media == null and forloop.first %} active{% endif %} lg:border-b lg:border-primary">
            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
            -%}
            {% render 'product-thumbnail', media: media, lazy_load: lazy_load, thumb: false %}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
    {% if template.suffix != 'ajax' %}
      <wishlist-button
        class="absolute top-4 right-4 z-10 flex justify-center border-primary items-center bg-background w-7 h-7 lg:w-11 lg:h-11 rounded-full overflow-hidden cursor-pointer 
        before:content-empty before:absolute before:w-10 before:h-10 before:block before:-top-1.5 before:-left-1.5 transition-all" 
        data-product-handle="{{ product.handle }}">
        {% render 'icon-wishlist', class: "w-4 h-4 lg:w-6 lg:h-6" %}
        {% render 'icon-wishlist-2', class: "active w-4 h-4 lg:w-6 lg:h-6" %}
      </wishlist-button>
      <button
        type="button"
        class="prev-main-{{ section.id }} absolute top-1/2 -translate-y-1/2 left-2.5 z-10 w-8 h-8 lg:h-10 lg:w-10 lg:hidden leading-none cursor-pointer transition-all flex items-center justify-center p-0 rounded-full bg-background text-primary hover:text-primary disabled:text-primary-opacity-40"
        name="previous"
        aria-label="previous">
        {%- render 'icon-prev', class: 'w-6 h-6 lg:w-7 lg:h-7' -%}</button>
      <button
        type="button"
        class="next-main-{{ section.id }} absolute top-1/2 -translate-y-1/2 right-2.5 z-10 w-8 h-8 lg:h-10 lg:w-10 lg:hidden leading-none cursor-pointer transition-all flex items-center justify-center p-0 rounded-full bg-background text-primary hover:text-primary disabled:text-primary-opacity-40"
        name="next"
        aria-label="next">{%- render 'icon-next', class: 'w-6 h-6 lg:w-7 lg:h-7' -%}</button>
    {% endif %}
    <div class="slider-counter caption !hidden">
      <span class="slider-counter--current">1</span>
      <span aria-hidden="true"> / </span>
      <span class="slider-counter--total">{{ product.media.size }}</span>
    </div>
    <div class="slider-dots absolute bottom-5 left-1/2 gap-2 -translate-x-1/2 flex z-20 lg:!hidden">
      {% for media in product.media %}
        <span class="slider-dot{% if forloop.first %} active{% endif %}" data-position="{{ forloop.index }}"></span>
      {% endfor %}
    </div>
  </div>
</slider-component>