{% if heading == blank %}
  {% assign heading = 'h3' %}
{% endif %}
{% unless lazy_load %}
  {% assign lazy_load = 'lazy' %}
{% endunless %}
{% for variant in product.variants %}
  {% if variant.options contains '3 Pack' or variant.options contains '3 pack'  %}
    {% assign threePack = variant.price | divided_by: 3 | money_without_trailing_zeros | prepend: '3 Pack - <span class="text-xs pl-0.5 lg:pl-0 lg:text-sm text-hot">' | append: '</span>/PER'  %}
  {% endif %}
  {% if variant.options contains '20 Pack' or variant.options contains '20 pack'  %}
    {% assign twentyPack = variant.price | divided_by: 20 | money_without_trailing_zeros | prepend: '20 Pack - <span class="text-xs pl-0.5 lg:pl-0 lg:text-sm text-hot">' | append: '</span>/PER'  %}
  {% endif %}
{% endfor %}
{%- if product and product != empty -%}
  {% assign averageRating = product.metafields.judgeme.badge | split: "data-average-rating='" | last | split: "'" | first | plus: 0 %}
  {% assign numberRating = product.metafields.judgeme.badge | split: "data-number-of-reviews='" | last | split: "'" | first | plus: 0 %}
  <div class="group card-wrapper product-card-wrapper {{ class }}" data-handle="{{ product.handle }}">
    {%- if product.featured_media -%}
      <a href="{{ product.url | split: '?' | first }}" class="relative block  overflow-hidden no-underline" title="{{ product.title }}">
        <slider-component class="relative ">
          <button type="button" name="previous" aria-label="previous" 
            class="prev-{{ section.id }} opacity-0 group-hover:opacity-100 z-10 absolute top-1/2 -translate-y-1/2 left-0 w-10 h-10 bg-transparent shadow-button leading-none cursor-pointer transition-all hidden lg:flex items-center justify-center p-0 rounded-full border-0 text-primary">
            {%- render 'icon-prev', class: "w-7 h-7" -%}
          </button>
          <ul class="slider-wrapper slider-on-mobile slider-on-tablet slider-on-desktop">
            {% for media in product.media %}
              {% if media.media_type == 'image' %}
                
                <li class="slider-slide w-full !h-auto !transition-all">
                  <img
                    srcset="
                    {%- if media.width >= 165 -%}
                      {{ media | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if media.width >= 360 -%}
                      {{ media | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if media.width >= 533 -%}
                      {{ media | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if media.width >= 720 -%}
                      {{ media | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if media.width >= 940 -%}
                      {{ media | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if media.width >= 1066 -%}
                      {{ media | image_url: width: 1066 }} 1066w,{%- endif -%}"
                    src="{{ media | image_url: width: 533 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                    alt="{{ media | split: "/" | last | replace: "-", " " | split: "." | first }}"
                    class="block w-full h-full object-cover transition-all duration-300 bg-image-placeholder bg-no-repeat bg-cover bg-center text-transparent aspect-[512/640]"
                    loading="{{ lazy_load }}"
                    width="512"
                    height="{{ 512 | divided_by: media.aspect_ratio }}">
                </li>
              {% endif %}

            {% endfor %}
          </ul>
          <button type="button" name="next" aria-label="next"
            class="next-{{ section.id }} opacity-0 group-hover:opacity-100 z-10 absolute top-1/2 -translate-y-1/2 right-0 w-10 h-10 bg-transparent shadow-button leading-none cursor-pointer transition-all hidden lg:flex items-center justify-center p-0 rounded-full border-0 text-primary">
            {%- render 'icon-next', class: "w-7 h-7" -%}
          </button>
          <div class="slider-counter caption !hidden">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="slider-counter--total">{{ product.media.size }}</span>
          </div>
          <div class="lg:opacity-0 group-hover:lg:opacity-100 transition-all slider-dots !flex absolute bottom-3 lg:bottom-4 left-1/2 -translate-x-1/2">
            {% for media in product.media %}
              {% if media.media_type == 'image' %}
                <span class="slider-dot{% if forloop.first %} active{% endif %}" data-position="{{ forloop.index }}"></span>
              {% endif %}
            {% endfor %}
          </div>
          <wishlist-button class="opacity-0 group-hover:opacity-100 z-10 transition-all absolute top-2 right-2 lg:top-4 lg:right-4 flex justify-center items-center bg-background w-7 h-7 lg:w-9 lg:h-9 rounded-full overflow-hidden shadow-card cursor-pointer" data-product-handle="{{ product.handle }}">
            {% render 'icon-wishlist', class: "w-4 h-4 lg:w-6 lg:h-6" %}
            {% render 'icon-wishlist-2', class: "active w-4 h-4 lg:w-6 lg:h-6" %}
          </wishlist-button>
        </slider-component>
      </a>
    {%- endif -%}
    <a href="{{ product.url | split: '?' | first }}" class="block bg-background relative text-center py-4 px-3 overflow-hidden no-underline">
      <div class="flex items-center w-full justify-center gap-1 mb-2 lg:mb-0 lg:min-h-[90px]">
        <{{ heading }} class="text-primary font-body font-light text-sm lg:text-lg !leading-5 tracking-[0] truncate-line one-line overflow-hidden break-all no-underline ">{{ product.title | escape }} - </{{ heading }}>
        {% render 'price', product: product, use_variant: true, class: 'text-center justify-center flex-none leading-none' %}
      </div>
      {% liquid
        assign variants_available_arr = product.variants | map: 'available'
        assign variants_option1_arr = product.variants | map: 'option1'
        assign variants_option2_arr = product.variants | map: 'option2'
        assign variants_option3_arr = product.variants | map: 'option3'
        assign product_form_id = 'product-form-' | append: section.id
      %}
      <div class="flex flex-col bg-background top-0 left-0 z-10 items-center justify-center text-center gap-3 lg:absolute w-full h-full lg:opacity-0 lg:invisible group-hover:lg:opacity-100 group-hover:lg:visible">
        {% for option in product.options_with_values %}
          {% if option.name contains 'of sale' %}
            <div class="flex flex-wrap justify-center items-center gap-2">
              {% if threePack != '' or twentyPack != '' %}
                {% if threePack != '' %}
                  <span class="flex items-center text-primary font-body font-light text-xxs lg:text-sm truncate-line one-line overflow-hidden break-all no-underline lg:px-2 lg:py-1 lg:rounded lg:border border-primary leading-2 lowercase">{{ threePack }}</span>
                {% endif %}
                {% if twentyPack != '' %}
                  <span class="flex items-center text-primary font-body font-light text-xxs lg:text-sm truncate-line one-line overflow-hidden break-all no-underline lg:px-2 lg:py-1 lg:rounded lg:border border-primary leading-2 lowercase">{{ twentyPack }}</span>
                {% endif %}
              {% endif %}
            </div>
          {% else %}
            <div class="flex flex-wrap gap-2">
              {% for value in option.values %}
                {%- liquid
                  assign option_disabled = true
              
                  for option1_name in variants_option1_arr
                    case option.position
                      when 1
                        if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                          assign option_disabled = false
                        endif
                      when 2
                        if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                          assign option_disabled = false
                        endif
                      when 3
                        if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                          assign option_disabled = false
                        endif
                    endcase
                  endfor
                -%}
                <span class="text-sm leading-2 uppercase{% if option_disabled %} line-through{% endif %}">{{ value }}</span>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </a>
  </div>
{%- else -%}
  <div class="card-wrapper product-card-wrapper">
    <div class="relative block group overflow-hidden">
      {%- if placeholder_image -%}
        {{ placeholder_image | placeholder_svg_tag: 'block group-hover:scale-105 w-full h-fit transition-all' }}
      {%- else -%}
        {{ 'product-apparel-2' | placeholder_svg_tag: 'block group-hover:scale-105 w-full h-fit transition-all' }}
      {%- endif -%}
    </div>
    <div class="relative mt-1.5">
      {% render 'price' %}
      <h3><a role="link" aria-disabled="true" class="text-primary hover:text-primary font-body font-light text-sm lg:text-base !leading-6 mb-1 lg:mb-1.5 tracking-[0] truncate-line one-line overflow-hidden break-all">{{ 'products.product.example_product_title' | t }}</a></h3>
      <div class="block uppercase text-xxs lg:text-xs leading-6 tracking-[0] text-primary mb-1 font-normal">{{ 'products.product.product_type' | t }}</div>
    </div>
  </div>
{%- endif -%}